<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>it.prova.myebay.web.servlet.auth.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <display-name>myebay</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>it.prova.myebay.web.servlet.auth.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrepareSearchAnnuncioServlet</display-name>
    <servlet-name>PrepareSearchAnnuncioServlet</servlet-name>
    <servlet-class>it.prova.myebay.web.servlet.annuncio.PrepareSearchAnnuncioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrepareSearchAnnuncioServlet</servlet-name>
    <url-pattern>/PrepareSearchAnnuncioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExecuteSearchAnnuncioServlet</display-name>
    <servlet-name>ExecuteSearchAnnuncioServlet</servlet-name>
    <servlet-class>it.prova.myebay.web.servlet.annuncio.ExecuteSearchAnnuncioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExecuteSearchAnnuncioServlet</servlet-name>
    <url-pattern>/ExecuteSearchAnnuncioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExecuteVisualizzaAnnuncioServlet</display-name>
    <servlet-name>ExecuteVisualizzaAnnuncioServlet</servlet-name>
    <servlet-class>it.prova.myebay.web.servlet.annuncio.ExecuteVisualizzaAnnuncioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExecuteVisualizzaAnnuncioServlet</servlet-name>
    <url-pattern>/ExecuteVisualizzaAnnuncioServlet</url-pattern>
  </servlet-mapping>
</web-app>